<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>Sobre nuestros perfumes</h1>
    <p style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;">Somos una empresa que se encarga de brindar las mejoras inspiraciones a sus clientes, ofreciéndoles un servicio de calidad y una gran variedad de diferentes aromas.</p>
    <br>
    <a href="/about">Ir a About</a>
    <br><hr>
    <a href="/">Ir a Home</a>
    <br><hr>
    <a href="/CRUD">Ir a CRUD</a>
    <br><hr>
</body>
</html>