<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

    <body style="background-color:#74BCDE">
        <div class="container">
            <%- include('partials/navbar.ejs') %><br><br><br>
            <h1>Pedidos</h1><br>
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <form class="row g-3 needs-validation" novalidate>
                        <div class="col-md-4">
                            <label for="validationCustom01" class="form-label">ID Producto a comprar:</label>
                            <input type="text" class="form-control" id="validationCustom01" placeholder="ID del producto" name="txt_id_producto_comprar" required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-md-4">
                            <label for="validationCustom01" class="form-label">Cantidad a comprar:</label>
                            <input type="text" class="form-control" id="validationCustom01" placeholder="Ejemplo: 2" name="txt_cantidad_pedido" required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-md-4">
                            <label for="validationCustom02" class="form-label">Tipo de Pago:</label>
                            <select class="form-select" id="validationCustom02" name="cbo_tipo_pago_pedido" required>
                                <option selected disabled value>Seleccione:</option>
                                <option>Débito</option>
                                <option>Crédito</option>
                                <option>Prepago</option>
                                <option>Cheque</option>
                                <option>PayPal</option>
                            </select>
                            <div class="invalid-feedback">Por favor seleccione una opción válida.</div>
                        </div>
                        <div class="col-md-4">
                            <label for="validationCustom04" class="form-label">Fecha del Pedido:</label>
                            <input type="date" class="form-control" id="validationCustom04" name="txt_fecha_pedido" required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-md-4">
                            <label for="validationCustom05" class="form-label">Método de Envío:</label>
                            <input type="text" class="form-control" id="validationCustom05" placeholder="Ejemplo: Starken, Correos chile" name="txt_metodo_envio" required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-md-4">
                            <label for="validationCustom06" class="form-label">Estado del Pedido:</label>
                            <input type="text" class="form-control" id="validationCustom06" placeholder="Ejemplo: Pendiente, Enviado" name="txt_estado_pedido" required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-md-4">
                            <label for="validationCustom07" class="form-label">Ciudad de Entrega:</label>
                            <input type="text" class="form-control" id="validationCustom07" placeholder="Ejemplo: Santiago, Valparaíso" name="txt_ciudad_entrega" required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Realizar pedido</button>
                         </div>
                     </form>
                </div><br>

                <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                        <form class="d-flex" role="search" style="width: 100%;">
                            <input class="form-control me-2" type="search" 
                            placeholder="Ingrese ID pedido:" 
                            aria-label="Search">
                            <button class="btn btn-outline-success" 
                            type="submit" style="margin: left 10px;">Buscar</button><br><br>
                        </form>
                    </div>
                </nav>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Producto a comprar</th>
                            <th scope="col">Cantidad a Comprar</th>
                            <th scope="col">Tipo Pago</th>
                            <th scope="col">Fecha Pedido</th> 
                            <th scope="col">Metodo de envio</th>  
                            <th scope="col">Estado Pedido</th>
                            <th scope="col">Ciudad entrega</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Acqua Di Gio Profondo</td>
                            <td>5</td>
                            <td>Crédito</td>
                            <td>2024-06-15</td>
                            <td>Correos chile</td>
                            <td>Pendiente</td>
                            <td>Rancagua</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Good Girl</td>
                            <td>2</td>
                            <td>Débito</td>
                            <td>2024-06-05</td>
                            <td>Starken</td>
                            <td>Enviado</td>
                            <td>Santiago</td>
                        </tr>   
                        <tr>
                            <th scope="row">3</th>
                            <td> XS Black</td>   
                            <td>1</td>
                            <td>PayPal</td>
                            <td>2024-06-09</td>
                            <td>Starken</td>
                            <td>Enviado</td>
                            <td>Valparaíso</td>
                        </tr>
                        <tr>
                            <td colspan="9" class="text-left">
                                <button type="button" 
                                    class="btn btn-success">Actualizar 
                                    pedidos</button>
                                <button type="button" 
                                    class="btn btn-danger">Eliminar 
                                    pedidos</button>
                            </td>
                        </tr>
                    </tbody>
                </table>    
            </div>
        </div>
    </body></br>

    <%- include('partials/footer.ejs') %>

</html>
